body.login_page {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

body.login_page::before {
    content: "";
    position: absolute;
    top: 0; 
    bottom: 0;
    left: 0; 
    right: 0;
    background-image: url("/assets/murdoch_background.jpeg"); 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.3;
}

.login-box {
    background: #ffffff;
    padding: 20px;
    width: 80%;
    max-width: 300px;
    min-height: 200px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    box-sizing: border-box;
    z-index: 1;
  }
  
  .user-box {
    position: relative;
  }
  
  .user-box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #000;
  }

  .user-box input:hover{
    cursor: crosshair;
    color: red;
  }

  .user-box select{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid #000;
  }

  .user-box select:hover {
    cursor: crosshair;
    color: red;
  }
  
  .login-box a {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .login-box button {
    padding: 15px 32px;
    text-align: center;
    border: none;
    background: #082dcf;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    cursor: crosshair;
    border-radius: 20px;
    width: 100%
  }

  .login-box button:hover {
    background-color: #45a049; 
    color: white;
  }

  .back-btn {
    padding: 15px 32px;
    text-align: center;
    border: none;
    background-color: #4CAF50; 
    color: white;
    text-decoration: none;
    display: inline-block;
    cursor: crosshair;
    border-radius: 20px;
    width: 100%; 
    margin-top: 10px;
  }
  
  .back-btn:hover {
    background-color: #45a049; 
    color: white;
  }
  
  body.account_create {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}