
:root
{
    --primary-color-cal: white;
    --secondary-color-cal: black;
    --list-calendar-hover-cal: #f8f8ff;
    --icon-switcher: url('moon.svg');
    --fc-today-bg-color: rgba(255,220,40,0);
    --murdoch-red: #E12744;
}

.dark-theme
{
    --primary-color-cal: black;
    --secondary-color-cal: white;
    --list-calendar-hover-cal:#222;
    --icon-switcher: url('sun.svg');
}

body
{
    background-color: var(--primary-color-cal);
    color: var(--secondary-color-cal);
    
}
.fc-theme-standard .fc-list-day-cushion 
{
    background-color: var(--list-calendar-hover-cal);
    color: var(--secondary-color-cal);
}

.navbar-collapse
{
    flex-grow: 0;
}

.navbar-nav
{
    text-align: end;
}

.navbar-nav .nav-item .nav-link, .fc-col-header-cell-cushion, .fc-daygrid-day-number,
.fc-list-day-text, .fc-list-day-side-text
{
    color: var(--secondary-color-cal);
    text-decoration: none;
}
.calendar-content
{
    margin-top: 35px;
}

#calendar
{
    height: 70svh;
}

.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title
{
    padding: 5px 0 5px 10px;
    white-space: normal;
}

.expanded-view
{
    margin-top: 20px;
    color: var(--secondary-color-cal);
    height: 100%;
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.expanded-details
{
    padding-top: 15px;
    padding-bottom: 10px;
}

.fc-daygrid-day-events
{
    cursor: pointer;
}

.navbar-brand img
{
    max-height: 50px;
    max-width: 180px;
    height: 100%;
    width: 100%;
}

.fc-daygrid-day-frame.fc-scrollgrid-sync-inner
{
    padding-bottom: 15px;
}

.theme-switcher
{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}

.theme-switcher button
{
    background: var(--secondary-color-cal);
    color: var(--primary-color-cal);
    border: 1px solid var(--primary-color-cal);
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.theme-switcher button .button-svg
{
    color: var(--primary-color-cal);
    background-image: var(--icon-switcher);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right center;

    padding-left: 25px;
    height: 100%;
    display: inline-block;
    width: 20px;
    position: relative;
}

.theme-switcher button:hover
{
    background: var(--primary-color-cal);
    color: var(--secondary-color-cal);
    border: 1px solid var(--secondary-color-cal);
}


.fc .fc-list-event:hover td 
{
    background-color: var(--list-calendar-hover-cal) !important;
}

.container .form-group, .admin-back.btn, .btn.btn-primary
{
    margin-bottom: 15px;
}

.calendar-event-title, .login-box-title
{
    padding-top: 20px;
}

.user-login, .add-calendar-event, .login-box
{
    min-height: 65svh;
}

.user-setting, .add-calendar-event
{
    min-height: 65svh;
    margin-left: 10%;
    margin-right: auto;
    width: 60%;
}


.user-login form
{
    margin: 50% 0;
}

.container .row
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.footer
{
    padding-top: 25px;
}

.user-management-container {
    display: flex;
}

.main-content {
    flex-grow: 1;
}

.list-group-item
{
    background-color: var(--list-calendar-hover-cal);
    color: var(--secondary-color-cal);
}

.list-group-item:hover
{
    background-color: var(--secondary-color-cal);
    color: var(--list-calendar-hover-cal);
}

.event-update-form
{
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    border: 1px solid var(--list-calendar-hover-cal);
    padding: 5px 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    align-items: center;

}

.form-group .btn.btn-primary
{
    margin-bottom: 0;
}

.form-event-description
{
    max-width: 100svw;
    width: 45%;
}

.event-update-button-submit
{
    display: flex;
    flex-direction:column;
}

.height-control
{
    min-height: 75svh;
}

.input-container .btn.btn-primary
{
    margin-bottom: 0;
}

.input-container
{
    display: flex;
    column-gap: 10px;
}

.fc .fc-daygrid-day.fc-day-today {
    border: 5px solid var(--murdoch-red)
}


@media only screen and (max-width: 768px)
{
    .input-container
    {
        display: block;
    }

    .user-setting, .add-calendar-event
    {
        min-height: 65svh;
        margin-left: 0%;
        margin-right: 0;
        width: 90%;
    }
}